<% provide(:title, 'Restaurantes') %>
	
<h1>Lo primero: ¿Dónde estás?</h1>

<%= search_form_for @search do |f| %>
    <%= f.label :distripos_postcode_cont, "Introduce tu código postal" %>
    <%= f.text_field :distripos_postcode_cont %>
    
    <%= f.submit "Busca en tu zona", class: "btn btn-success" %>
<% end %>

<%= will_paginate %>

<% unless params[:q].blank? %>
	<h1>Y ahora: ¿Qué quieres comer?</h1>
	<span class="span12 offset2">
		<ul class="thumbnails">
		<%= render @products %>
		</ul>
	</span>
<% end %>

<%= will_paginate %>
